@font-face {
  font-family: 'Halvar Breit Lt';
  src: url('../assets/fonts/HalvarBreit-Lt.eot');
  src: local('Halvar Breitschrift Light'), local('HalvarBreit-Lt'),
       url('../assets/fonts/HalvarBreit-Lt.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/HalvarBreit-Lt.woff2') format('woff2'),
       url('../assets/fonts/HalvarBreit-Lt.woff') format('woff'),
       url('../assets/fonts/HalvarBreit-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Задайте фон, якщо потрібен загальний колір фону для всього сайту */
}

.hero {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Зміщуємо контент вліво */
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  padding-left: 100px; /* Відступ зліва */
  min-height: 100vh; /* Забезпечуємо мінімальну висоту на весь екран */
  overflow: hidden;
}

.hero-content {
  text-align: left; /* Текст вирівняний по лівому краю */
  z-index: 2;
}

.hero h1 {
  font-size: 6rem; /* Збільшуємо розмір шрифта */
  margin-bottom: 10px; /* Зменшуємо відступ між заголовками */
  line-height: 0.7; /* Зменшуємо вертикальні відступи між рядками */
  font-family: 'Halvar Breit Lt', sans-serif;
}

.hero h1 span {
  display: block;
  color: rgb(255, 255, 255);
}

.hero .today {
  font-size: 6rem; /* Збільшуємо шрифт для "Сьогодні" */
  font-weight: bold;
  color: #fda624;
  margin-top: 5px; /* Зменшуємо вертикальний відступ */
}

.start-button {
  position: absolute;
  bottom: 170px;
  left: 100px;
  padding: 16px 32px;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #400b58; /* фон кнопки */
  color: rgb(254, 251, 255);              /* колір тексту */
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.start-button:hover {
  background-color: #2d093d;
  transform: scale(1.05);
  color: aliceblue;
}

/* Стилі для секції про нас */
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 10px;
  text-align: left;
  flex-wrap: wrap; /* додаємо для адаптивності */
}

.about-image {
  flex: 1;
  text-align: center; /* щоб зображення було по центру */
}

.about-image img {
  max-width: 450px; /* максимальна ширина зображення */
  height: auto;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-left: 250px;
}

.about-text {
  flex: 1;
  margin-left: 30px; /* відступ між зображенням і текстом */
  color: #ff8c00;
  font-family: 'Halvar Breit Lt';
}

.about-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff8c00;
  margin-bottom: 0px; /* Трохи менше відступу вниз */
  text-align: left;
}


.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 10px 0; /* Рівніші відступи зверху та знизу */
  text-align: left;
  color: #ff8c00;
}


/* Останній рядок — по центру і компактно */
.about-section .about-text p.custom-text {
  font-family: 'Halvar Breit Lt', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: #ff8c00;
  margin: 20px 0 0 0; /* Трохи відступу зверху і без зайвого знизу */
  max-width: 100%; /* Щоб не ламався на 2 рядки */
  white-space: nowrap; /* Залишає текст в одному рядку */
}

.about-section-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  flex-wrap: wrap; /* додаємо для адаптивності */
}

.about-section-home h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff8c00;
  margin-bottom: 20px;
}

.about-section-home p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.about-section-home p:last-child {
  margin-bottom: 0;
}

/* Анімація для появи блоку про сайт */
.about-section-home {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
