.nutrition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 170px;
  margin-right: 700px;
}

.nutrition-image {
  width: 500px;
  height: auto;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Відступ між елементами */
  margin-top: -830px;
  margin-right: 700px;
  }
  
  .arrow {
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .arrow:hover {
    transform: scale(1.1);
  }
  
  .nutrition-button-image {
    width: 150px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .nutrition-button-image:hover {
    transform: scale(1.05);
  }
  
  .photos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Відступ між контейнерами */
    margin-top: 22px;
    margin-left: 250px;
  }
  
  .photo-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
  }
  
  .nutrition-extra-photo {
    width: 510px;
    height: auto;
    display: block;
  }
  
  