.progress-container {
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.motivational-text {
  font-size: 2rem;
  color: #f39c12; /* Оранжевий колір */
  margin-bottom: 2rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

.chart-section {
  background: #50065f;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.stats-graph-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
}


.stats-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 560px;
  height: 560px;
}

.stat-card {
  background-color: #ecf0f1;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  color: #f39c12; /* Оранжевий колір */
}

.stat-card p {
  font-size: 2.3rem;
  font-weight: bold;
  color: #27ae60;
}

/* Тренування */
.trainings-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #f39c12; /* Оранжевий колір */
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.training-card {
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.training-card:hover {
  transform: scale(1.05);
}

.training-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.training-card h3 {
  margin-bottom: 0.5rem;
  color: #440b50;
}

.training-card .status {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e74c3c;
}

.training-card .status.completed {
  color: #2ecc71;
}
