/* Модальне вікно - затемнення фону */
.auth-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* напівпрозорий фон */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .auth-overlay.open {
    display: flex;
  }
  
  /* Контейнер для форми */
  .auth-container {
    background-color: rgb(37, 11, 39);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    z-index: 10000;
  }
  
  /* Загальний стиль для форми */
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Стилі для полів вводу */
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .input-group input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .input-group input:focus {
    border-color: #5cb85c;
    outline: none;
  }
  
  /* Кнопка */
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: rgb(238, 143, 0);
  }
  
  /* Посилання для переключення між реєстрацією і входом */
  .toggle-link {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .toggle-link:hover {
    text-decoration: underline;
  }
  